body {
	background-color: #CFF1E0
}

h1 {
	text-align: center;
	background-color: white
	color: pink;
	font-family: 'Helvetica';
	font-size: 30px;
}

h2 { 
	text-align: center;
	color: grey;
	font-size: 20px;
}

#headerlist ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#headerlist ul li { display: inline; }

#headerlist ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #2DB270;
background-color: #72A27B;
}

#headerlist ul li a:hover
{
color: #2DB270;
background-color: #507857;
}
h3 {
	text-align: center;
	color: black;
	font-size: 30px;
}