<<<<<<< HEAD
h1 {
	color: pink;
	font-family: 'Helvetica';
	font-size: 30px;
}
body {
	background-image: url("");
}
=======
ol
<li> black
</li>
<li> red 
</li>
>>>>>>> e006e8b72a7317e9f0b7e19690aaed9fabec1c07
