body {
	background-color: #CFF1E0
}

h1 {
	text-align: center;
	color: #E49ADE;
	font-family: 'Helvetica';
	font-size: 30px;
}

h2 { 
	text-align: center;
	color: grey;
	font-size: 20px;
}

#headerlist ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
font-size: 20px;
}

#headerlist ul li { display: inline; }

#headerlist ul li a
{
text-decoration: none;
padding: .10px;
color: #2DB270;
background-color: #EBC7EA;
font-size: 20px;
}

#headerlist ul li a:hover
{
color: #2DB270;
background-color: #507857;
font-size: 20px;
}

h3 {
	text-align: center;
	color: black;
	font-size: 30px;
}

img {
	align-items: center
}